.query-builder {
  .query-dropdown {
    margin: 10px;
  }

  .condition {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .delete-condition {
      color: #c70000;
      margin-left: 30px;
      cursor: pointer;
    }

    & > div {
      margin: 10px;
    }
  }
}

.query-executor-form {
  margin: 20px 0;
  flex-wrap: wrap;

  .MuiTextField-root {
    width: 100%;
    margin: 10px auto;
  }
}

.data-table {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

body {
  .MuiInputBase-root {
    min-width: 235px;
  }

  .MuiFormControl-root {
    margin: 0;
  }

  .MuiFormLabel-root {
    color: #1976d2;
  }

  .title {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 600;
  }
}

.app-selector {
  text-align: center;
}
